.edit_area {
  text-align: center;
  font-size: 1em;
  margin: 1em 0;
  padding: 1em 0;
}

.titlebar {
  font-size: 1.3em;
  display: inline-block;
  width: 60%;
  text-align: left;
  padding: 0.5em 0.5em;
  /* background-color: red; */
  border: 1px solid black;
}

.text_area {
  font-size: 1.1em;
  display: inline-block;
  width: 60%;
  height: 20em;
  text-align: left;
  margin: 1em 0;
  padding: 0.5em 0.5em;
  resize: none;
  /* background-color: red; */
  border: 1px solid black;
}
