* {
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei UI", "宋体", sans-serif;
  overflow-x: hidden;
  background-color: #fff;
}

body {
  font-size: 1em;
}

a {
  display: inline-block;
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: black;
}

ul {
  list-style: none;
}

.titlebar {
  height: 3em;
  letter-spacing: -5px;
  /* background-color: #00cc88; */
  line-height: 3em;
  text-align: center;
  overflow: hidden;


}

.sidebarbutton {
  display: inline-block;
  width: 10%;
  height: 3em;
  letter-spacing: 0;
  overflow: hidden;
}

.sidebar {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  transition: all 0.5s ease 0s;
}

.sidebar_hidden {
  display: inline-block;
  position: absolute;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  transition: all 0.5s ease 0s;
}

.sidebar_list,
.sidebar_list_active {
  display: inline-block;
  width: 100%;
  height: 3em;
  text-align: center;
  line-height: 3em;
}

.sidebar_list {
  background-color: #f3f3f3;
}

.sidebar_list_active {
  background-color: #aaf;
}

.container {
  position: absolute;
  float: left;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease 0s;
}

.container_shift_right {
  position: absolute;
  float: left;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease 0s;
}

.titlebar_icon {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.titlelabel {
  display: inline-block;
  width: 80%;
  letter-spacing: 0;
  font-size: 1.3em;
}

.userbarbutton {
  display: inline-block;
  width: 10%;
  height: 3em;
  letter-spacing: 0;
  overflow: hidden;
}

.searchbar {
  padding: 0.5em;
  text-align: center;
}

.searchbar-text {
  border: 1px solid black;
  width: 80%;
  height: 2em;
  letter-spacing: 0;
  text-indent: 0.5em;
  line-height: 2em;
  text-align: left;
}

.searchbar-button {
  height: 2.1em;
  width: 15%;
  letter-spacing: 0;
  text-align: center;
  line-height: 2em;
  border: 1px solid black;
  background-color: #99ddc8;
}

.navbar {
  line-height: 3em;
  text-align: center;
  padding: 2%;
}

.navbar ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #f3f3f3;
}

.navbar li {
  float: left;
  margin: 0 2%;
  width: 20%;
}

.navbar li a {
  display: block;
  color: #666;
  text-align: center;
  text-decoration: none;
}

.navbar li a.active {
  color: white;
  background-color: #aaf;
}

.navbar li a:hover:not(.active) {
  background-color: #ddd;
}

.content {
  text-align: center;
}

.content-pic {
  float: left;
  margin: 5%;
  width: 40%;
}

.content-pic-img {
  padding: 5%;
  width: 100%;
  height: auto;
}

.footer {
  font-size: 0.8em;
  text-align: left;
  line-height: 2em;
}

.links {
  background-color: #ddd;
}

.siteinfo {
  background-color: #aaa;
}

.userbox {
  display: inline-block;
  height: 450px;
  width: 400px;
  margin: 15px;
}

.userbox-padding-left {
  float: left;
  width: 10%;
  height: 100%;
}

.userbox-padding-right {
  float: left;
  width: 10%;
  height: 100%;
}

.userbox-content {
  float: left;
  width: 80%;
  height: 100%;
  font-size: 15px;
}

.userbox-textbox {
  width: 100%;
  height: 40px;
}

.userbox-button {
  width: 100%;
  height: 40px;
  font-size: 15px;
  background-color: #99ddc8;
}

.form-elements {
  text-align: left;
  padding: 10px;
  font-size: 15px;
}
